* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid div {
  display: flex;
  justify-content: space-around;
}

.carousel-item {
  height: 900px;
}

.navbar {
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
  align-items: center;
  justify-content: center;
  font-family: "Quicksand:wght@500", sans-serif;
}

.row img {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.menu img {
  width: 70%;
  height: 70%;
  margin-right: 50%;
}
.menu {
  margin-top: 2%;
}

.menu-title {
  font-family: "Satisfy", cursive;
  margin-top: 3%;
}

.item1 {
  width: 40%;
}

.totalPlaced {
  width: 14%;
  margin-left: 43%;
}

.crust,
.size,
.toppings {
  width: 35%;
}

.row {
  justify-content: space-between;
  width: 110%;
}

.modal-content {
  border: 7px solid #ffc107 !important; 
}
