* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-fluid div {
  display: flex;
  justify-content: space-around;
}

.carousel-item {
  height: 900px;
}

.navbar {
  background-color: #f5d020;
  background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
  align-items: center;
  justify-content: center;
  font-family: 'Quicksand:wght@500', sans-serif;
}

.row img {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.menu img {
  width: 100%;
  height: 100%;
}
 .menu {
   margin-top: 2%;
 }

 .menu-title {
   font-family: 'Satisfy', cursive;
   margin-top: 3%;
 }
